<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Teste Dryve - Desafio 2</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
    
	function validarCampos(){
		var inputs = document.getElementsByTagName('input')
		for (i = 0; i < inputs.length; i++){
			if (inputs[i].value == ""){
		   	    alert('Preencha o campo ' + inputs[i].name);
		   	    return false;
				
			}
		}
	}
	
	function cadastrar(){
		if (validarCampos() == false){
			return false;
		}
		document.formulario.submit();
	}
	
	function sucesso(){
		var msg = document.getElementById('msgSucesso');
		if (msg.innerText != ""){
			alert('Anúncio cadastrado com sucesso!')
		}
	}
		
		
  </script>
  
</head>
<body class="container" onload="sucesso()">

	<div class="card-panel teal lighten-2" align="center">
		<h1>Teste Dryve</h1>
	</div>
	<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
		<span><i class="material-icons left">assignment_ind</i>Desafio 2 - Cadastrar Anúncio</span>
	</div>
	<span th:if="${sucesso} == true" hidden="true" id="msgSucesso">Cadastrado com sucesso!</span>
	<span th:unless="${sucesso} == true"></span>
	<div class="row">
		<form name="formulario" action="/desafio2/cadastrar" class="col s12" method="get">
			<div class="input-field col s12">
				<label>Placa do automóvel:</label><br>
				<input type="text" id="placa" name="placa">
			</div>
			<div class="input-field col s12">
				<label>ID Marca:</label><br>
				<input type="text" id="idMarca" name="idMarca">
			</div>
			<div class="input-field col s12">
				<label>ID Modelo:</label><br>
				<input type="text" id="idModelo" name="idModelo">
			</div>
			<div class="input-field col s12">
				<label>Preço:</label><br>
				<input type="text" id="preco" name="preco">
			</div>
			<div class="input-field col s12">
				<label>Ano:</label><br>
				<input type="text" id="ano" name="ano">
			</div>
			<div class="input-field col s6">
				<a class="btn waves-effect waves-light #e91e63 pink" href="/"><i class="material-icons left">backspace</i>Votlar</a>
				<button class="btn waves-effect waves-light" type="button" onClick="cadastrar()"><i class="material-icons right">send</i>Cadastrar</button><br><br>
			</div>
		</form>
	</div>
</body>
</html>