<!DOCTYPE html>
<html>
<head>
  <title>Teste Dryve - Desafio 2</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
    
	function voltar(){
		window.history.go(-1);
	}
  </script>
  
</head>
<body class="container">

	<div class="card-panel teal lighten-2" align="center">
		<h1>Teste Dryve</h1>
	</div>
	<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
		<span><i class="material-icons left">assignment_ind</i>Desafio 2 - Serviço de cadastro</span>
	</div>
		<div class="input-field col s12">
		<a class="btn waves-effect waves-light #e91e63 pink" href="javascript:voltar();"><i class="material-icons left">backspace</i>Back</a>
		<button class="btn waves-effect waves-light" type="submit">Register<i class="material-icons right">send</i></button><br><br>
	</div>
</body>
</html>