<!DOCTYPE html>
<html>
<head>
  <title>Teste Dryve</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  
</head>
<body class="container">

	<div class="card-panel teal lighten-2" align="center">
		<h1>Teste Dryve</h1>
	</div>
	<div class="collection">
		<a href="/desafio1a" class="collection-item"><i class="material-icons left">library_books</i>Desafio 1a - Fibonacci</span></a>
		<a href="/desafio1b" class="collection-item"><i class="material-icons left">library_books</i>Desafio 1b - Número de notas</span></a>
		<a href="/desafio1c" class="collection-item"><i class="material-icons left">library_books</i>Desafio 1c - Soma dos pares</span></a>
		<a href="/desafio2" class="collection-item"><i class="material-icons left">library_books</i>Desafio 2 - Cadastro de veículos</span></a>
	</div>
</body>
</html>